{% extends 'base.html.twig' %}

{% block title %}Добавление новой закладки{% endblock %}

{% block content %}
    <h1>Добавление новой закладки</h1>

    {{ form_start(bookmarkForm) }}
        {{ form_widget(bookmarkForm) }}
        <button type="submit" class="btn btn-primary">Отправить</button>
    {{ form_end(bookmarkForm) }}
{% endblock %}
